# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\FacultyProjects\GraphAlgorithms\IsolatedNodes_GraphIsRegular_DistanceMatrix_Connected\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
